/* index below*/
.index-body {
    color: rgb(195, 218, 2359);
    background-color: rgb(34, 35, 48) ;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}
a {
    text-decoration: none;
    margin: .5em;
    color: rgb(108, 109, 158);  
}
a:hover{
    color: antiquewhite;
}
/* loading below */

.loading-body{
    background-color: rgb(34, 35, 48);
    
}

.loading{
    max-width: 75%;
    background: rgb(34,35,48);
    animation-name: loading;
    animation-duration: 5s;
    animation-iteration-count: 3;
    animation-timing-function: linear;
}

#text1{
    padding: .5em;
    color:antiquewhite;
}

@keyframes loading {
    0% {
        background-color: rgb(34, 35, 48);
        width: 0%;
    }
    50%{
        width: 50%;
        background-color: rgb(108, 109, 158);
    }
    100% {
        background-color: rgba(0,212,255,1);
        width: 100%;
    }
}

/* waiting below */