*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#external-wrapper{
display: flex;
border: 2px solid #000;

}
#internal-wrapper img{
    max-width: 90px;
    border-radius: 25%;
    justify-content: space-around;
    display: flex;
}
.items-row{
margin: .5em;
display: flex;
flex-direction: row;
}

.items-col{
    flex-direction: column;
    margin: .5em;   
   
    
}

#c1{
    display: flex;
    

}

#c2{
    display: flex;
    
}

#c3{
    display: flex;
    
}