*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#external-wrapper{
display: flex;
border: 2px solid #000;

}
#internal-wrapper img{
    max-width: 90px;
    border-radius: 25%;
    justify-content: space-around;
}
.items-row{
margin: .5em;
}

.items-col{
    flex-direction: column;
    margin: .5em;    
}

#rows{
    display: flex;
    flex-direction: row;
}

#columns{
    display: flex;
    flex-direction: column;
}