*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(assets/11322021222222.jpg);
    color:black
}

nav{
    background-color: rgba(0, 10, 54, 0.664);
    display: inline-block;
    padding: .5em;
    margin: 1rem;
    font-family: 'Koulen', cursive;
    text-decoration: none;
    
}
h1, h2{
    max-width: 50%;
    text-align: center;
    margin: auto; 
    font-family: 'Koulen', cursive;
    padding: .5em;
}
main{
   
   text-align: center;
   margin: auto; 
   font-family: 'Koulen', cursive;
}
a{
margin: 1em;
color:antiquewhite;
text-decoration: none;

}

a:hover{
    color:burlywood;
}


h4{
    margin: .5em;
}



