*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(assets/11322021222222.jpg);
    color:antiquewhite;
}

nav{
    background-color:black;
    display: inline-block;
    padding: .5em;
    margin: 1rem;
    font-family: 'Koulen', cursive;
    text-decoration: none;
    border-radius: 5%;
}
h1{
    
    text-align: center;
    margin: .5em; 
    font-family: 'Koulen', cursive;
    padding: .5em;
    color:antiquewhite;
    font-size: 50px;
    background-color:black;
}
h2{
    
    text-align: center;
    margin: auto; 
    font-family: 'Koulen', cursive;
    padding: .5em;
    color:antiquewhite;
    font-size: 40px;
    
}

#about-box{
    background-color: rgba(0, 0, 0, 0.705);
    margin-top: .5em;
    margin-bottom: .5em;
}

main{ 
   text-align: center;
}

a{
margin: 1em;
color:antiquewhite;
text-decoration: none;

}

a:hover{
    color:burlywood;
}

#grid {
    display: grid;
}
#grid img{
    max-width: 100%;
    margin: auto;
}

#joey{
    max-width: 70%;
    margin-top: .75em;
}




